.cartitems {
  margin-top: 12vh;
  padding-top: 12vh;
}
.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}
.cartitems-format-main {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 12px;
  padding-left: 10%;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}
.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}
/* .carticon-product-icon{
    height: 85px;
} */
.cartitems-quantity {
  height: 7vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  margin-left: -18%;
}
.dec-butt {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: -1%;
}
.inc-butt {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-left: 4%;
}
.p-valu {
  margin-left: 4%;
  margin-top: 2.5%;
  font-size: smaller;
}
.cartitems-down {
  display: flex;
  margin: 100px 25px;
}
.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 200px;
  gap: 40px;
}
.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.cartitems-total button {
  width: 262px;
  height: 50px;
  outline: none;
  border: none;
  background: #5f5df1;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.cartitems-promocode {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
}
.cartitems-promocode p {
  color: #c5c1c1;
}
.cartitems-promobox {
  width: 504px;
  margin-top: 15px;
  padding-left: 20px;
  height: 58px;
  background: #e2e2e2;
}
.cartitems-promobox input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  width: 330px;
  height: 50px;
}
.cartitems-promobox button {
  width: 160px;
  height: 47px;
  font-size: 16px;
  background: black;
  color: bisque;
  cursor: pointer;
  margin-top: 1%;
  margin-left: -4%;
}
.empty-cart {
  margin-top: 12vh;
  padding-top: 12vh;
  margin-left: 33%;
}
.left-off {
  margin-left: 40%;
  color: #5f5df1;
  margin-top: 2%;
  font-size: medium;
}
.check-butt{
 color: whitesmoke;
}

@media (max-width: 1290px) {
  .cartitems{
    margin-left: 2%;
  }
  .cartitems-format-main {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjusted grid columns for smaller screens */
    gap: 2%; /* Adjusted gap for smaller screens */
    padding: 10px 1%; /* Adjusted padding for smaller screens */
    font-size: 16px; /* Adjusted font size for smaller screens */
    margin-left: 3.5%;
  }

  .cartitems-down {
    margin: 3% 1%; /* Adjusted margin for smaller screens */
    margin-left: 2.7%;
  }

  .cartitems-total {
    margin-right: 5%; /* Adjusted margin for smaller screens */
    gap: 10px; /* Adjusted gap for smaller screens */
  }

  .cartitems-promobox input {
    width: 65%; /* Adjusted input width for smaller screens */
  }

  .cartitems-promobox button {
    width: 30%; /* Adjusted button width for smaller screens */
  }
  .cartitems-promobox{
    width: 90%;
  }
  .cartitems-quantity{
    margin-top: 2.5vh;
  }
}



@media (max-width: 420px) {
  .cartitems {
    margin-left: 2%;
  }

  .cartitems-format-main {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); /* Adjusted grid columns for smaller screens */
    gap: 2%; /* Adjusted gap for smaller screens */
    padding: 10px 1%; /* Adjusted padding for smaller screens */
    font-size: 14px; /* Adjusted font size for smaller screens */
    margin-left: 3.5%;
  }

  .cartitems-down {
    margin: 3% 1%; /* Adjusted margin for smaller screens */
    margin-left: 2.7%;
  }

  .cartitems-total {
    margin-right: 5%; /* Adjusted margin for smaller screens */
    gap: 5px; /* Adjusted gap for smaller screens */
    width: 50%;
  }

  .cartitems-promobox {
    width: 90%; /* Adjusted width for smaller screens */
  }

  .cartitems-promobox input {
    width: 65%; /* Adjusted input width for smaller screens */
  }

  .cartitems-promobox button {
    width: 30%; /* Adjusted button width for smaller screens */
  }

  .cartitems-quantity {
    margin-top: 2.5vh; /* Adjusted margin top for smaller screens */
  }
  .cartitems-promobox{
    width: 87%;
  }
  .cartitems-promocode{
    margin-top: 5vh;
  }
  .cartitems-promocode button{
    display: none;
  }
  .p-valu{
    margin-top: 10%;
    margin-left: 4%;
  }
}
