*{
    margin: 0;
    padding: 0;
}
.outer-div{
    height: 80vh;
    width: 96.5%;
    background-color: rgb(255, 253, 106);
}
.image{
    height: 30vh;
    width: 100%;
    background-color: aqua;
}