.cart-outer {
  padding-top: 9vh;
  background-color: rgb(231, 231, 231);
}
.cart-inner {
  height: 200vh;
  width: 96%;
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 17px 2px rgba(105, 105, 105, 0.2);
}
.items-not {
  margin-left: 30%;
  margin-top: 3%;
}
@media (max-width: 1290px) {
  .cart-inner {
    width: 94%; /* Adjusting width for smaller screens */
    margin-left: 3%; /* Adjusting margin for smaller screens */
  }

  .items-not {
    margin-left: 25%; /* Adjusting margin for smaller screens */
  }
}

@media (max-width: 420px) {
  .cart-inner {
    width: 90%; /* Adjusting width for smaller screens */
    margin-left: 5%; /* Adjusting margin for smaller screens */
  }

  .items-not {
    margin-left: 10%; /* Adjusting margin for smaller screens */
  }
}
