@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.outer-summary{
    height: 140vh;
    width: 100%;
    padding-top: 15vh;
    font-family: 'Poppins', sans-serif;
    background-color: #e0dcdcf4;
}
.inner-summary{
    height: 110vh;
    width: 30%;
    margin-left: 35%;
    box-shadow: 0px 10px 17px 6px rgba(71, 71, 71, 0.2); 
    margin-top: 10vh;
    padding-top: 5vh;
    background-color: white;
    border-radius: 5px;
}
.summary-inputBox,.summary-inputBox-city,.summary-inputBox-pin,.summary-inputBox-state{
    height: 10vh;
    width: 100%;
    padding-top: 2vh;
}
.title-{
    text-align: center;
}
.summary-inputBox label{
    margin-left: 5%;
  margin-bottom: 3vh;
  margin-top: 4vh;
}
.summary-inputBox input{
    width: 90%;
  margin-left: 5%;
  height: 5vh;
  margin-top: 1vh;
}
.continue-btn{
    width: 91%;
    margin-left: 5%;
    height: 5vh;
    margin-top: 2vh;
    background-color: rgb(94, 131, 254);
    color: rgb(1, 0, 0);
    border-radius: 5px;
    border: none;
}
.city-input,.state-input,.pin-input{
    width: 90%;
    margin-left: 5%;
    height: 5vh;
    margin-top: 1vh;
}
.summary-inputBox-city label{
    margin-left: 5%;
    margin-bottom: 3vh;
    margin-top: 4vh;
}
.summary-inputBox-state label{
    margin-left: 5%;
    margin-bottom: 3vh;
    margin-top: 6vh;
}
.summary-inputBox-pin label{
    margin-left: 5%;
    margin-bottom: 3vh;
    margin-top: 5%;
}

@media screen and (max-width: 420px){
    .inner-summary{
        width: 80%;
        margin-left: 10%;
    }
    .city-input{
        margin-top: 3%;
    }
    .state-input{
        margin-top: 3%;
    }
    
    .summary-inputBox-pin label{
        margin-top: -5%;
    }
}