.outer_Newcard{
    /* background-color: black; */
    height: 64vh;
    width: 96%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    display: flex;
}

.first_box,.second_box,.third_box,.fourth_box{
    height: 64vh;
    width: 30%;
    /* background-color: aqua; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.second_box,.third_box,.fourth_box{
    margin-left: 2%;
}

.box01,.box02,.box03,.box04{
    height: 45vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}

.box01_1,.box01_2,.box01_3,.box01_4,.img9,.img10,.img11,.img12{
    height: 48vh;
    width: 47.5%;
    /* background-color: blue; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box01_2,.box01_4,.img10,.img12{
    margin-left: 5%;
}

.box01{
    background-image: url(../pictures/winter-combo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img1_1,.img2,.img3,.img4{
    height: 85%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img9,.img10,.img11,.img12{
    height: 90%;
    width: 100%;
}

.img9{
    background-image: url(../pictures/women_ghagra.jpeg);
}

.img10{
    background-image: url(../pictures/women_ghagra2.jpeg);
}

.img11{
    background-image: url(../pictures/earrings.jpg);
}

.img12{
    background-image: url(../pictures/churidar.jpeg);
}

.box03{
    background-image: url(../pictures/gym_room.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box02{
    background-image: url(../pictures/baby_dress.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.up-card-details3{
    height: 13vh;
}
.instr{
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}
@media screen and (max-width: 420px) {
    .outer_Newcard {
      flex-direction: column;
      height: auto;
    }
    
    .first_box,.second_box,.third_box {
      width: 99%;
      height: 60vh;
      margin-bottom: 5%;
    }
    .fourth_box{
        width: 99%;
        height: 70vh;
        margin-bottom: 5%; 
    }
    .up_pics{
        height: 25vh;
    }
    .dwn_pics{
        height: 25vh;
        margin-top: 2%;
    }
    
    .box01, .box02, .box03, .box04 {
      height: 46vh;
      width: 90%; 
    }
    
    .box01_1, .box01_2, .box01_3, .box01_4 {
      height: 45vh; 
    }
    .img9,.img10,.img11,.img12{
        height: 24vh;
    }
    .instr{
        height: 7vh;
        font-size: 90%;
    }
  }