
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.signup-outer{
    height: 180vh;
    width: 100%;
    padding-top: 15vh;
    font-family: 'Poppins', sans-serif;
    background-color: #e0dcdcf4;
}
.signup-inner{
  height: 155vh;
  width: 30%;
  margin-left: 35%;
  box-shadow: 0px 10px 17px 6px rgba(71, 71, 71, 0.2); 
  margin-top: 10vh;
  padding-top: 5vh;
  background-color: white;
  border-radius: 5px;
}
.signup-heading{
  text-align: center;
}
.signup-form-group{
  height: 10vh;
    width: 100%;
    padding-top: 2vh;
}
.signup-form-group label {
  margin-left: 5%;
  margin-bottom: 3vh;
  margin-top: 4vh;
}
.signup-form-group input{
  width: 90%;
  margin-left: 5%;
  height: 4vh;
  margin-top: 1vh;
}
.signup-btn{
  width: 91%;
  margin-left: 5%;
  height: 5vh;
  margin-top: 2vh;
  background-color: rgb(23, 9, 64);
  color: white;
  border-radius: 5px;
}
.signup-inner p{
  margin-left: 5%;
  margin-right: 5%;
}
.signup-inner Link{
  color: blue;
}
.signup1{
  margin-top: 2.5vh;
  color: blue;
}
.signup-link{
  color: blue;
}
.error-message {
  color: red;
}

@media only screen and (max-width: 1290px) {
  .signup-inner {
      width: 60%; /* Adjust as needed */
      margin-left: 20%; /* Adjust as needed */
  }
}


@media only screen and (max-width: 420px) {
  .signup-inner {
      width: 80%; /* Adjust as needed */
      margin-left: 10%; /* Adjust as needed */
  }
}