@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Ubuntu:wght@300&display=swap');


.full-slider-div{
    height: 45vh;
    width: 96%;
    /* background-color: navy; */
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 10%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.up_info_div{
    height: 10%;
    width: 80%;
    color: rgb(47, 46, 46);
    display: inline-block;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size:x-large;
    margin-left: 1%;
    margin-top: 1%;
}
.Slider_div2{
    height: 80%;
    width: 98.5%;
    margin-left: 0.75%;
    /* display: flex; */
}

.first_pic,.second_pic,.third_pic,.fourth_pic,.fifth_pic,.sixth_pic,.seventh_pic,.eightth_pic,.nineth_pic,.tenth_pic,.eleventh_pic,.twelveth_pic{
    height: 87%;
    width: 101%;
    margin-top: 12%;
    /* background-color: black; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.second_pic,.third_pic,.fourth_pic,.fifth_pic,.sixth_pic,.seventh_pic,.eightth_pic,.nineth_pic,.tenth_pic,.eleventh_pic,.twelveth_pic{
    margin-left: -5%;
}
.mySwiper{
    height: 100%;
    margin-bottom:10% ;
}

.first_pic{
    background-image: url(../../pictures/car_duster.jpg);
    margin-left: 5%;
}

.second_pic{
    background-image: url(../../pictures/helmet1.jpg);
    margin-left: 3%;
}

.third_pic{
    background-image: url(../../pictures/helmet2.jpg);
    margin-left: 3%;
}

.fourth_pic{
    background-image: url(../../pictures/Car_air_freshner.jpg);
    margin-left: 3%;
}

.fifth_pic{
    background-image: url(../../pictures/car_tyre_inflator.jpg);
    margin-left: 0.1%
}

.sixth_pic{
    background-image: url(../../pictures/car_cover.jpg);
}

.seventh_pic{
    background-image: url(../../pictures/helmet3.jpg);
}

.eightth_pic{
    background-image: url(../../pictures/bike_cover.jpeg);
}

.nineth_pic{
    background-image: url(../../pictures/car_tyre_inflator2.jpg);
}

.tenth_pic{
    background-image: url(../../pictures/engine_oil.jpg);
}

.eleventh_pic{
    background-image: url(../../pictures/helmet4.jpg);
}

.twelveth_pic{
    background-image: url(../../pictures/car_wash_shampoo.jpg);
}

.outer_card_div{
    height: 110vh;
    width: 96%;
    
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 5%;
    display: flex;
    
}

.inner_card_div1{
    height: 100%;
    width: 50%;   
}

.inner_card_div2{
    height: 100%;
    width: 50%;
    background-image: url(../../pictures/S24.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.up_inner_card_div1{
    height: 49%;
    width: 100%;   
    display: flex;
}

.dwn_inner_card_div1{
    height: 49%;
    width: 100%;
    display: flex;
    margin-top: 2%;
}

.card_1,.card_2,.card_3,.card_4{
    height: 100%;
    width: 46%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card_2,.card_4{
    margin-left: 2%;
}

.pi{
    
    height: 75%;
    width: 90%;
    margin-left: 5%;
    margin-top: 4.2%;
    
}
.up-card-details2{
    height: 8vh;
}
.instr{
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

.pii{
   
    height: 75%;
    width: 90%;
    margin-left: 5%;
    margin-top: 4.2%;
    
}

.pi1,.pi2,.pi3,.pi4,.pi5,.pi6,.pi7,.pi8,.pi9,.pi10,.pi11,.pi12,.pi13,.pi14,.pi15,.pi16{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pi1{
    background-image: url(../../pictures/bedsheet.jpg);
}

.pi2{
    background-image: url(../../pictures/figurines.jpg);
}

.pi3{
    background-image: url(../../pictures/almirah.jpeg);
}

.pi4{
    background-image: url(../../pictures/light.jpeg);
}

.pi5{
    background-image: url(../../pictures/men_cloth.jpg);
}

.pi6{
    background-image: url(../../pictures/men_footwear.webp);
}

.pi7{
    background-image: url(../../pictures/men_watch.jpeg);
}

.pi8{
    background-image: url(../../pictures/men_wallet.jpeg);
}

.pi13{
    background-image: url(../../pictures/32_Tv.jpg);
}

.pi14{
    background-image: url(../../pictures/43_tv.jpg);
}

.pi15{
    background-image: url(../../pictures/55_tv.jpg);
}

.pi16{
    background-image: url(../../pictures/65_Tv.jpg);
}

.pi9{
    background-image: url(../../pictures/women_cloth.jpeg);
}

.pi11{
    background-image: url(../../pictures/women_watch.jpg);
}

.pi10{
    background-image: url(../../pictures/women_shoe.jpeg);
}

.pi12{
    background-image: url(../../pictures/women_jwellery.jpeg);
}

@media screen and (max-width: 420px) {
    .outer_card_div{
        width: 100%;
        height: 140vh;
    }
    .inner_card_div1 {
      width: 4000px;
      margin-bottom: 2%;
      flex-direction: column;
      height: 130vh;
      margin-left: 2%;
    }
    .up_inner_card_div1,.dwn_inner_card_div1{
        width: 100%;
        height: 70vh;
    }
    .inner_card_div2{
        visibility: hidden;
    }
    .card_1,.card_2,.card_3,.card_4{
        height: 69vh;
        width: 100%;
    }
  }
 