.outer1{
    height: 25vh;
    width: 12%;
    margin-left: 2%;
}
.img{
    height: 18vh;
    width: 96%;
    border-radius: 50%;
}
.inner-text-div{
    height: 5vh;
    width: 100%;
    text-align: center;
    background-color: transparent;
    margin-top: 2vh;
    font-size: large;
}
.outer1:hover{
    cursor: pointer;
}  

@media screen and (max-width: 420px){
    .outer1{
        height: 8vh;
    }
    .img{
        height: 5.5vh;
        width: 100%;
    }
    .inner-text-div{
        height: 2vh;
        width: 90%;
        margin-top: 0%;
        justify-content: center;
    }
    .inner-text-div p{
        font-size: 11px;
    }
}