*{
    margin: 0;
    padding: 0;
}
.footer-outer{
    height:50vh ;
    width: 100%;
    background-color: rgb(23, 9, 64);
}
.footer-upper{
    height: 42vh;
    width: 100%;
    background-color: rgb(23, 9, 64);
    display: inline-flex;
}
.footer-lower{
    height: 6vh;
    width: 100%;
    background-color: rgb(23, 9, 64);
    color: white;
    text-align: center;
    padding-top: 2vh;
}
.hr1{
    width: 90%;
    margin-left: 5%;
}
.footer1{
    height: 32vh;
    width: 15%;
    background-color: rgb(23, 9, 64);
    /* display: inline-flex; */
    padding-top: 10vh;
    margin-left: 3%;
}
.footer2{
    height: 32vh;
    width: 12%;
    background-color: rgb(23, 9, 64);
    padding-top: 6vh;
    margin-left: 7%;
}
.footer3{
    height: 32vh;
    width: 15%;
    background-color: rgb(23, 9, 64);
    padding-top: 6vh;
    margin-left: 6%;
}
.footer4{
    height: 32vh;
    width: 15%;
    background-color: rgb(23, 9, 64);
    padding-top: 6vh;
    margin-left: 6%;
}
.footer5{
    height: 32vh;
    width: 15%;
    background-color: rgb(23, 9, 64);
    padding-top: 6vh;
    margin-left: 3%;
    color: white;
}
.footer5 h3{
    margin-left: 21.6%;
}
.shopee{
    height: 12vh;
    width: 80%;
    background-color: rgb(23, 9, 64);
    margin-left: 6%;
    display: inline-flex;
}
.name:hover{
    cursor: pointer;
}
.logo{
    height: 11vh;
    width: 100%;
    background-color: transparent;
}
.heading{
    height: 6vh;
    width: 60%;
    margin-top: 2.5vh;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    margin-left: 2%;

}
.line{
    color: rgb(167, 167, 167);
    margin-top: 2vh;
    margin-left: 24%;
}
.heading-footer{
    color: white;
}
a{
    text-decoration: none;
    color: rgb(177, 177, 177);
}
.footer-link-col1,.footer-link-col2{
    color: rgb(177, 177, 177);
    margin-top: 1.6vh;
    margin-left: 7.5%;
}
li{
    margin-top: 3.9px;
    /* background-color: rgb(23, 9, 64); */
}
.address{
    height: 11vh;
    width: 74%;
    background-color: rgb(23, 9, 64);
    margin-left: 1.5%;
    color: rgb(177, 177, 177);
    display: flex;
}
.address i{
    margin-top: 2vh;
}
.address p{
    margin-top: 2vh;
    margin-left: 9%;
}
.hr2{
    width: 77%;
}
.phone i{
    margin-top: 2vh;
}
.phone p{
    margin-top: 2vh;
    margin-left: 9%;
}
.phone{
    height: 3.5vh;
    width: 74%;
    background-color: rgb(23, 9, 64);
    margin-left: 1.5%;
    color: rgb(177, 177, 177);
    display: flex;
}
.email i{
    margin-top: 2vh;
}
.email p{
    margin-top: 2vh;
    margin-left: 9%;
}
.email{
    height: 3.5vh;
    width: 74%;
    background-color: rgb(23, 9, 64);
    margin-left: 1.5%;
    color: rgb(177, 177, 177);
    display: flex;
}
.social{
    height: 3.5vh;
    width: 74%;
    background-color: rgb(23, 9, 64);
    color: rgb(177, 177, 177);
    display: flex;
    margin-top: 1.5vh;
    margin-left: 13.5%;
}
.social a{
    margin-left: 6%;
}
.news{
    height: 4vh;
    width: 83%;
}
.newsletter button{
    height: 4vh;
    width: 50%;
    font-size: small;
    border-radius: 10px;
    margin-left: 17%;
    background-color: rgb(94, 131, 254);
}
.footer-list{
    display: none;
}

@media screen and (max-width: 1290px){
    .footer-outer{
        height: 12vh;
        padding-bottom: 3.5vh;
        z-index: 2;
        width: 98%;
        background-color: rgb(23, 9, 64);
        padding-left: 1%;
        padding-right: 1%;
        
    }
    .footer-upper{
        height: 12vh;
        display: none;
    }
    .footer-lower{
        height: 0vh;
        display: none;
    }
    .hr1{
        display: none;
    }
    .footer-list{
        height: 12vh;
        display: flex;
    }
    .footer-list ol {
        display: flex;
        list-style: none;
        margin: auto 0;
        width: 90%;
    }
    .footer-list ol li {
        color: #ffffff;
        letter-spacing: 1px;
        margin-left: 13%;
        font-family: "Poppins", sans-serif;
        font-size: medium;
        color: white;
        font-weight: bold;
    }
    .footer-list ol i{
        margin-left: 30%;
        
    }
    
}

@media screen and (max-width: 420px) {
    .footer-outer {
        height: 4vh;
        padding-top: 1.5vh;
        padding-left: 2.2vh;
        z-index: 2;
        background-color: rgb(23, 9, 64);
        position:fixed;
        bottom: 0;
        
    }
    .footer-upper{
        height: 12vh;
        display: none;
    }
    .footer-lower{
        height: 0vh;
        display: none;
    }
    .hr1{
        display: none;
    }
    .footer-list {
        height: auto;
        display: flex;
        margin-left: 0;
    }
    .footer-list ol {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .footer-list ol li {
        color: #ffffff;
        letter-spacing: 1px;
        margin-left: 5.5%;
        font-family: "Poppins", sans-serif;
        font-size: medium;
        color: white;
        font-weight: bold;
        padding: 3px 0;
        text-align: center;
    }
    .footer-list ol i {
        margin-left: 6%;
    }
}




@media screen and (max-width: 380px) {
    .footer-outer {
        height: 4.5vh;
        padding-top: 2vh;
        padding-left: 4vh;
        z-index: 2;
        background-color: rgb(23, 9, 64);
        position: fixed;
        bottom: 0;
        width: 96%;
    }
    .footer-upper {
        height: 10vh;
        display: none;
    }
    .footer-lower {
        height: 0vh;
        display: none;
    }
    .hr1 {
        display: none;
    }
    .footer-list {
        height: auto;
        display: flex;
        justify-content: space-around;
        margin-left: 0;
    }
    .footer-list ol {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .footer-list ol li {
        color: #ffffff;
        letter-spacing: 1px;
        margin-left: 4%;
        font-family: "Poppins", sans-serif;
        font-size: small;
        font-weight: bold;
        padding: 3px 0;
        text-align: center;
    }
    .footer-list ol i {
        margin-left: 5%;
    }
}

