@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Nunito:wght@700&family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Ubuntu:wght@300&display=swap');



.card_outer{
    /* background-color: black; */
    height: 55vh;
    width: 100%;
    margin-top: 5%;
    display: flex;
    color: black;
}
.up-card-details{
    height: 8vh;
}

.style{
    color: black;
    height: 5vh;
}

.first_card{
    height: 100%;
    width: 23%;
    /* background-color: aqua; */
    margin-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instr{
    /* background-color: blue; */
    margin-top: 4%;
    font-family: 'Poppins', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.pic{
    /* background-color: brown; */
    height: 75%;
    width: 90%;
    margin-left: 5%;
    margin-top: 4%;
}

.up_pics{
    /* background-color: burlywood; */
    height: 50%;
    width: 100%;
    display: flex;
}

.pic1{
    /* background-color: yellow; */
    height: 90%;
    width: 47.5%;
}

.p1{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/ac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p2{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/fridge.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p3{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/microwave.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p4{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/washing.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic2{
    /* background-color: yellow; */
    height: 90%;
    width: 47.5%;
    margin-left: 5%;
}

.p5{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/baby_dyper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p6{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/baby_carry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p7{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/baby_toy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p8{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/baby_bag.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p9{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/spin_mops.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p10{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/bathroom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p11{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/hammer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.p12{
    height: 85%;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/extension.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.dwn_pics{
    /* background-color: burlywood; */
    height: 50%;
    width: 100%;
    display: flex;
}

.pic3{
    /* background-color: yellow; */
    height: 90%;
    width: 47.5%;
}

.pic4{
    /* background-color: yellow; */
    height: 90%;
    width: 47.5%;
    margin-left: 5%;
}

.second_card{
    height: 100%;
    width: 23%;
    /* background-color: aqua; */
    margin-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.third_card{
    height: 100%;
    width: 23%;
    /* background-color: aqua; */
    margin-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fourth_card{
    height: 100%;
    width: 23%;
    /* background-color: aqua; */
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(../pictures/phone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slider_outer{
    height: 58vh;
    width: 96%;
    /* background-color: black; */
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 10%;
    /* display: flex; */
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.second_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.third_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.fourth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.fifth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.sixth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.sli1,.sli2,.sli3,.sli4,.sli5,.sli6,.sli7,.sli8,.sli9,.sli10,.sli11,.sli12{
    height:30vh;
    width: 100%;
    background-color: blueviolet;
    background-image: url(../pictures/formal_shoes.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sli2{
    background-image: url(../pictures/frying_pan.jpg);
}

.sli3{
    background-image: url(../pictures/bacca_bucci.jpeg);
}

.sli4{
    background-image: url(../pictures/tshirts.jpeg);
}

.sli5{
    background-image: url(../pictures/tffin_box.jpg);
}

.sli6{
    background-image: url(../pictures/umbrella.jpeg);
}

.dis_red{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: red;
    font-weight:bolder;
    margin-left: 2%;
}

.under_dis{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight:bolder;
    margin-left: 2%;
    color: black;
    height: 15vh;
}

.seventh_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.eightth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.nineth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.tenth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.eleventh_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.twelveth_div{
    height: 70%;
    width: 100%;
    margin-top: 12%;
    margin-left: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-color: aqua; */
}

.sli7{
    background-image: url(../pictures/women_saree.jpeg);
}

.sli8{
    background-image: url(../pictures/sports_shoe.jpeg);
}

.sli9{
    background-image: url(../pictures/gijer.jpg);
}

.sli10{
    background-image: url(../pictures/men_bag.jpeg);
}

.sli11{
    background-image: url(../pictures/make_up.jpg);
}

.sli12{
    background-image: url(../pictures/ladders.jpeg);
}

.info_div{
    height: 10%;
    width: 20%;
    display: inline-block;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size:x-large;
    margin-left: 1%;
    margin-top: 1%;

}
.scroller-div{
    height: 99%;
    width: 99%;
}

.mySwiper{
    height: 100%;
    margin-bottom:10% ;
}
@media only screen and (max-width: 420px) {
    .card_outer {
        height: auto;
        margin-top: 5%;
        flex-wrap: wrap;
    }
    
    .first_card, .second_card, .third_card, .fourth_card {
        width: 90%;
        margin-left: 5%;
        height: 62vh;
        margin-bottom: 5%;
    }
    .first_div,.second_div,.third_div,.fourth_div,.fifth_div,.sixth_div,.seventh_div,.eightth_div,.nineth_div,.tenth_div,.eleventh_div,.twelveth_div{
        width: 90%;
        height: 27vh;
    }
    
    .scroller-div {
        height: 32vh;
        width: 95%;
        margin-top: 5%;
        margin-left: 2.5%;
    }
    .slider_outer {
        height: 40vh;
        width: 94%;
        /* margin: 5% auto; */
        margin-left: 3%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .info_div {
        width: 100%;
        height: 2vh;
    }
    .sli1,.sli2,.sli3,.sli4,.sli5,.sli6,.sli7,.sli8,.sli9,.sli10,.sli11,.sli12{
        height: 18vh;
        width: 100%;
    }
    
    
}

