@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin:0 ;
    padding: 0;
}
.outer-div{
    height: 12vh;
    width: 95.5%;
    background-color: rgb(23, 9, 64);
    display: inline-flex;
    padding-left: 1.5%;
    padding-right: 3%;
    position: fixed;
    z-index: 2;
}
.name{
    height: 12vh;
    width: 30%;
    /* background-color: azure; */
    background-color: rgb(23, 9, 64);
    margin-left: 2.5%;
    display: inline-flex;
    border-color: transparent;
}
.name:hover{
    cursor: pointer;
}
.search-bar{
    height: 12vh;
    width: 50%;
    background-color: rgb(23, 9, 64);
    margin-left: 7%;
}
.search{
    height: 8vh;
    width: 90%;
    background-color: azure;
    margin-left: 1%;
    /* margin-top: vh; */
   border-radius: 5px;
   font-size: large;
}
.search-button{
    height: 8.9vh;
    width: 7%;
    background-color:rgb(23, 9, 64);
    margin-top: 1.7vh;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: larger;
    border-color: transparent;
    margin-left: 1%;
}
.search-button:hover{
    border-color: rgb(121, 115, 139);
    cursor: pointer;
}
.logo{
    height: 11vh;
    width: 105%;
    /* background-color:rgb(121, 115, 139); */
}
.heading{
    height: 6vh;
    width: 60%;
    margin-top: 2.5vh;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: white;
    margin-left: 3%;

}
.dropdown{
    height: 7vh;
    width: 100%;
    border-radius: 5px;
    margin-left: 22%;
    background-color: rgb(23, 9, 64);
}
.dropdown-list{
    height: 8vh;
    width: 100%;
    margin-top: 1.45vh;
    border-radius: 5px;
    font-size: larger;
    background-color:rgb(23, 9, 64);
    color: white;
    border-color: transparent;
    display: inline-flex;
    padding-top: 2.5vh;
}
.dropdown-list:hover{
    border-color: rgb(121, 115, 139);
    cursor: pointer;
}
.wishlist{
    height: 8vh;
    width: 100%;
    background-color:rgb(23, 9, 64);
    border-color: transparent;
    color: white;
    margin-top: 0.8vh;
    border-radius: 5px;
    margin-left: 62%;
    font-size: larger;
    display: inline-flex;
    padding-top: 3vh;
}
.wishlist p{
    font-size: large;
}
.wishlist:hover{
    border-color: rgb(121, 115, 139);
    cursor: pointer;
    color: white;
}
.cart-button{
    height: 7vh;
    width: 100%;
    background-color:rgb(23, 9, 64);
    border-color: transparent;
    color: white;
    margin-top: 0.8vh;
    border-radius: 5px;
    margin-left: 130%;
    font-size: larger;
    display: inline-flex;
    padding-top: 3vh;
}
.cart-button p{
    font-size: large;
}
.wishlist:hover{
    border-color: rgb(121, 115, 139);
    cursor: pointer;
}
.cart-button:hover{
    border-color: rgb(121, 115, 139);
    cursor: pointer;
    color: white;
}
.wishlist i{
    margin-top: 0.5vh;
}
.cart-button i{
    margin-top: 0.5vh;
}