.card-out{
    padding-top: 7%;
    width: 95%;
   margin-left: 5%;
   padding-bottom: 5vh;
}
.search-error{
   padding-top: 15%;
   margin-left: 19%;
   color: #FF5733;
}
 @media only screen and (max-width: 420px) {
   .card-out {
     padding-top: 17%;
   }
   
   
 }


 @media screen and (max-width: 360px) {
  .card-out {
      padding-top: 17%;
      width: 90%;
      margin-left: 2%;
      padding-bottom: 7vh;
  }

  .search-error {
      padding-top: 20%;
      margin-left: 15%;
      color: #FF5733;
      font-size: small; /* Adjust font size for better readability */
  }
}
 