@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.return_full_page{
    height: 1050vh;
    width: 100%;
    background-color: rgb(231, 231, 231);
    padding-top: 12vh;
}

.return_inner{
    height: 1050vh;
    width: 70%;
    margin-left: 15%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 17px 2px rgba(105, 105, 105, 0.2); 
    padding-top: 8vh;
}

.return_heading{
    text-align: center;
    margin-top: 2vh;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.return-inner-text{
    height: 825vh;
    width: 96%;
    margin-top: 5vh;
    text-align:justify;
    font-size: 14px;
    line-height: 5vh;
    padding-left: 2%;
    padding-right: 2%;
}

b{
    font-size: 15px;
}