@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.single-outer{
    width: 100%;
    
    background-color:rgb(231, 231, 231) ;
}
.single-inner{
    height: 120vh;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 17px 2px rgba(105, 105, 105, 0.2);
    display: flex;
    padding-top: 16vh;
}
.single-pic{
    height: 57vh;
    box-sizing: content-box;
    width: 41.8%;
    padding: 40px 10px 0 80px;
    border-color: rgb(231, 231, 231);
}
.sin-heart{
    float:right;
    color: lightgray;
    font-size:x-large;
    border: none;
    margin-top: -97%;
    padding-top: -15%;
    background: none;
    z-index:2;
    cursor: pointer;
}
.sin-heart:hover{
    color: rgb(250, 89, 89);
    transition: 0.5s;
}
.single-picture{
    width: 85%;
    height: 430px;
    object-fit: contain;
} 

.sing-img{
    width: 100%;
    height: 54vh;
    object-fit: contain;
    padding: 15px 20px;
    border: 1px solid #f0f0f0;
}
.single-det{
    height: 70vh;
    width: 45%;
    margin-left: 1%;
    margin-top: 5vh;
}
.cart-buy-div{
    display: flex;
    width: 100%;
    height: 20%;
}
.butto-div{
    color: #fff;
    
}
.si-butt-1{
    width: 90%;
    height: 45px;
    border-radius: 2px;
    margin-left: 0.1%;
    margin-top: -1.5%;
    padding-top: 1.2vh;
    display: flex;
    cursor: pointer;
    text-transform: normal;
    text-transform: uppercase;
    font-size:medium;
    font-weight: 600;
    position: relative;
    background-color: rgb(23, 9, 64);
    color: white;
    justify-content: center;
    border: none;
    font-family: "Poppins", sans-serif;
}
.si-butt-1:hover{
    color: #878787;
    transition: 0.5s;
}

.si-butt-2{
    width: 90%;
    height: 45px;
    border-radius: 2px;
    margin-left: 1%;
    padding-top: 1.5vh;
    margin-top: -1.5%;
    display: flex;
    cursor: pointer;
    text-transform: normal;
    text-transform: uppercase;
    font-size:medium;
    font-weight: 600;
    position: relative;
    background-color: rgb(94, 131, 254);
    color: white;
    justify-content: center;
    border: none;
    font-family: "Poppins", sans-serif;
}
.si-butt-2:hover{
    color: black;
    transition: 0.8s;
}
.single-icon{
    margin-top: 0.1vh;
}
.single-rate{
    height: 2.5vh;
    width: 7%;
    background-color: rgb(2, 98, 2);
    padding-top: 0.2%;
    margin-top: 1.5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
  }
.single-rate p{
    color: #fff;
    margin-left: 15%;
    margin-right: 5%;
    font-weight: 700;
  }
.ra-tex{
    margin-top: 5;
    color: #878787;
    font-size: 14;
}
.sin-para{
    font-weight: 600;
    font-size: 17px;
    color: rgb(165, 165, 165);
}
.sin-desc{
    color: rgb(91, 88, 85); 
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size:x-large
}
.sin-span1-1{
    font-weight:500;
    color: black;
    font-size: 170%;
    margin-top: 1%;
}
.sin-span2-2{
    color: gray;
    padding-left: 10px;
    text-decoration: line-through;
    margin-top: 3%;
    font-size: medium;
}
.sin-rate{
    display:flex;
}
.sin-span2-3{
    color: rgb(2, 98, 2);
    padding-left: 7px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3%;
    font-size: medium;
}
.rati-box{
    height: 3.5vh;
    width: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(2, 98, 2);
    color: white;
    font-family: "Poppins", sans-serif;
    margin-left: 1%;
    margin-top: 1%;
    font-size: small;
}
.rating-sec{
    display: flex;
}
.ra-tex{
    font-size: medium;
    margin-left: 3%;
    margin-top: 1.5%;
    font-family: "Poppins", sans-serif;
}
.sin-avai{
    margin-top: 3.5%;
    font-size: medium;
    font-family: "Roboto", sans-serif;
}
.ty-1{
    margin-top: 10px;
    font-size: 14px;
    vertical-align: baseline;
}
.Badge{
    margin-right: 10px;
    color: #00cc00;
    font-size: 15px;
}
.cart-icon-p{
    font-size: 15px;
    margin-top: 1%;
    margin-left: 2%;
}
.link-cart-div{
    width: 300px;
    height: 100px;
}
.link-buynow-div{
    width: 300px;
}

@media screen and (max-width: 420px) {
    .single-inner {
        flex-direction: column;
        width: 96%;
        padding-top: 20%;
        height: 180vh; 
        margin-left: 2%;
    }
    .single-pic {
        height: 20vh;
        width: 70%;
        padding: 0;
        margin: 0;
    }
    .sing-img{
        height: 45vh;
        width: 280px;
        margin-left: 8%;
        margin-top: 20%;
        border: none;
    }
    .single-picture {
        height: 58vh;
        width: 90%;
        margin-left: 10%;
        display: flex;
    }
    .single-det {
        width: 100%;
        margin-top: 90%;
    }
    .sin-heart {
        margin-top: 50%;
        margin-right: 30%;
    }
    .sin-heart:hover{
        color: rgb(250, 89, 89);
        transition: 0.5s;
    }
    .sin-picture {
        width: 70%;
    }
    .cart-buy-div{
        display: grid;
    }
    .si-butt-1{
        padding-top: 2%;
        width: 125%;
        margin-left: 4%;
        margin-top: -10%;
        border-radius: 15px;
    }
    .si-butt-2{
        padding-top: 3.5%;
        width: 125%;
        margin-left: 4%;
        margin-top: -26%;
        border-radius: 15px;
    }
    .single-rate{
        height: 20px;
        width: 40px;
      }
}