.side-tab-box {
    display: flex;
    padding-top: 15vh;
    height: 82vh;
    padding-left: 2%;
    padding-right: 2%;
    background-color:  #e0dcdcf4;
    padding-bottom: 3vh;
    box-shadow: 0px 10px 17px 2px rgba(105, 105, 105, 0.2); 
    font-family: 'Poppins', sans-serif;
  }
  .payment-tabs {
    width: 24%;
    background-color: #ffffff;
    padding-top: 2vh;
    box-shadow: 0px 10px 17px 2px rgba(105, 105, 105, 0.2); 
    margin-left: 2%;
    
  }
  .payment-tab-2{
    margin-top: 3vh;
    margin-left: 4%;
  }
  .payment-tab {
    padding: 10px;
    cursor: pointer;
    margin-top: 1vh;
    /* border-bottom: 1px solid #ccc; */
  }
  .payment-tab.active {
    color: rgb(38, 0, 151);
    background-color: rgb(240, 240, 240);
  }
  .payment-tab-content {
    padding: 20px;
    background-color: white;
    width: 85%;
    margin-left: 2%;
    font-family: 'Poppins', sans-serif;
  }
  .debit_cards{
    height: 13vh;
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .debit-details{
    height: 60vh;
    width: 100%;
    margin-top: 1%;
    /* background-color: blueviolet; */
  }
  .debit-inner{
    margin-left: 32%;
    margin-top: 3%;
  }
  .debit-names{
    font-size: larger;
    font-weight: 600;
    margin-top: 3%;
    font-family: 'Mooli', sans-serif;
  }
  .input-name{
    height: 6vh;
    width: 47%;
    margin-top: 1.5%;
    border: none;
    border-color: #fff;
    border: 3px solid rgb(135, 135, 250);
    border-radius: 3px;
  }
  .input-card{
    height: 5.5vh;
    width: 200px;
    border: none;
    border-color: #fff;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
  }
  .form-card{
    height: 6vh;
    width: 47%;
    border-radius: 3px;
    border: 3px solid rgb(135, 135, 250);
    display: flex;
    margin-top: 1.5%;
  }
  .icon-card{
    margin-left: 32%;
    margin-top: 3%;
  }
  .input-month,.input-year{
    height: 5vh;
    width: 20%;
    border-radius: 4px;
    margin-top: 2.5%;
    margin-left: 10%;
    border: none;
    font-size: 15px;
  }
  .input-year{
    margin-left: 4%;
    width: 15%;
  }
  .form-mm-yy{
    height: 6vh;
    width: 40%;
    margin-top: 1.5%;
    border: 3px solid rgb(135, 135, 250);
    border-radius: 3px;
  }
  .input-cvv{
    height: 5vh;
    width: 70%;
    margin-top: 5%;
    margin-left: 7%;
    border: none;
    font-size: 15px;
  }
  .date-cvv{
    display: flex;
    margin-top: 3%;
  }
  .debit-cvv{
    margin-left: -23.3%;
    margin-top: 0.5%;
    width: 30%;
  }
  .form-cvv{
    height: 6vh;
    width: 60%;
    margin-top: 2.5%;
    border-radius: 3px;
    border: 3px solid rgb(135, 135, 250);
    display: flex;
  }
  .icon-cvv{
    margin-left: 5%;
    margin-top: 10%;
  }
  input:focus{
    outline: none;
  }
  .pay-now{
      background-color: rgb(135, 135, 250);
      color: #150303;
      height: 6vh;
      width: 48%;
      text-transform: normal;
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      font-size:medium;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
      transition: color 0.4s linear;
      position: relative;
      overflow: hidden;
      border: none;
      border-radius: 3px;
      z-index: 1;
      margin-top: 6%;
      margin-left: 0%;
      font-family: 'Mooli', sans-serif;
  }
  
  .pay-now-span{
      background-color: rgb(23, 9, 64);
      color: #fff;
      height: 100%;
      width: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.3s;
  }
  
  .pay-now:hover .pay-now-span{
      width: 100%;
      color: #fff;
  }
  .pay-now:hover{
      color: #fff;
  }
  .pay-now-2{
    background-color: rgb(135, 135, 250);
      color: #150303;
      height: 6vh;
      width: 46%;
      text-transform: normal;
      text-transform: uppercase;
      cursor: pointer;
      display: inline-block;
      font-size:medium;
      font-weight: 600;
      letter-spacing: 1px;
      position: relative;
      transition: color 0.4s linear;
      position: relative;
      overflow: hidden;
      border: none;
      border-radius: 3px;
      z-index: 1;
      margin-top: 6%;
      margin-left: 2%;
      font-family: 'Mooli', sans-serif;
  }
  .pay-now-2:hover{
    color: #fff;
  }
  .pay-now-span-2{
    background-color: rgb(23, 9, 64);
    color: #fff;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
  }

  .pay-now-2:hover .pay-now-span-2{
      width: 100%;
      color: #fff;
  }
  .upi-full-page{
    height: 76vh;
    width: 100%;
  }
  .upi-inner{
    height: 80%;
    width: 60%;
    margin-left: 32%;
  }
  .upi-head-1,.upi-head,.upi-id,.upi-phonepe{
    font-size: larger;
    font-weight: 600;
    margin-top: 5%;
    font-family: 'Mooli', sans-serif;
  }
  .upi-head-1{
    margin-left: 1.5%;
  }
  .upi-head{
    margin-left: 2%;
  }
  .upi-logo-1{
    height: 40px;
    width: 40px;
    margin-top: 23px;
    margin-left: -9%;
  }
  .upi-id,.upi-phonepe{
    margin-top: -4%;
    margin-left: 1.5%;
  }
  .form-phonepe,.form-id{
    height: 6vh;
    width: 45%;
    margin-top: 2.5%;
    margin-left: 2%;
    border-radius: 3px;
    border: 3px solid rgb(135, 135, 250);
    display: flex;
  }
  .input-phonepe,.input-id{
    border: none;
    border-color: #fff;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
  }
  .upi-inner-up{
    display: flex;
  }
  .p-debit{
    font-weight: 400;
    font-size:17px;
    margin-left:5px;
    margin-Top:-2px;
  }
  .p-upi{
    font-weight: 400;
    font-size:17px;
    margin-Left:5px;
    margin-Top:1.5px;
  }
  .verify-p{
    color:rgb(135, 135, 250);
    margin-Left:52px;
    margin-Top:12px;
  }
  .image-phonepe{
    height: 80px;
    width: 100px;
    margin-left: -7%;
  }
  .upi_cards{
    height: 13vh;
    width: 40%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
  }
  .or-p{
    margin-Top:25px;
    font-Size:15px;
  }
  .image-visa{
    height: 80px;
    width: 90px;
    margin-left: -7%;
  }

  @media screen and (max-width: 420px) {
    .side-tab-box {
      flex-direction: column;
      width: 96%;
      height: auto;
    }
    .payment-tabs{
      display: flex;
      height: 4.5vh;
      padding-top: 1%;
      width: 120px;
    }
    .p-debit,.p-upi{
      font-size: 13px;
      padding: 0;
      margin-top: -15%;
      padding-top: 2%;
      width: 150px;
    }
    .p-upi{
      padding-top: 4%;
    }

    .debit-head{
      height: 10vh;
      width: 100%;
    }
    .icon-debit-card{
      margin-top: -12.5%;
    }
    .payment-tab{
      height: 30px;
      width: 130px;
      margin-top: -10%;
      background-color: #fff;
    }
    .upi-head-1 img{
      margin-top: -15%;
    }
    .payment-tab-2{
      font-size: 13px;
      margin-top: -9%;
      margin-left: 0%;
      background-color: #fff;
      height: 6.5vh;
      width: 150px;
      padding-right:10% ;
      padding-left: 3%;
    }
    .payment-tabs hr{
      height: 47px;
      margin-top: -9%;
    }
    .hr-2 hr{
      display: none;
    }
    .payment-tab-content{
      margin-top: 5%;
      width: 83.8%;
      margin-left: 2%;
    }
    .debit-inner{
      margin-top: 8%;
    }
    .date-cvv{
      margin-top: 7.5%;
    }
    .acc-name-div{
      margin-top: 7.5%;
    }
    .debit_cards{
      height: 10vh;
    }
    .debit_cards img{
      height: 40px;
    }
    .image-visa{
      margin-left: -19%;
    }
    .debit-names{
      font-size: 13px;
    }
    .debit-details{
      margin-left: -17.5%;
    }
    .form-card{
      width: 250px;
      margin-top: 5%;
    }
    .icon-card{
      margin-left: 10%;
    }
    .input-year{
      width: 30px;
    }
    .input-month{
      width: 30%;
      margin-left: 5%;
    }
    .form-mm-yy{
      width: 55%;
      margin-top: 5%;
    }
    .form-cvv{
      width: 124%;
      margin-top: 12%;
    }
    .debit-cvv{
      margin-top: 2.5%;
    }
    .icon-cvv{
      margin-left: -0.5%;
    }
    .input-name{
      width: 107%;
      margin-top: 5%;
    }
    .pay-now{
      width: 109%;
      margin-top: 7.5%
    }
    .upi_cards{
      height: 10vh;
    }
    .upi_cards img{
      height: 40px;
    }
    .image-phonepe{
      margin-left: -10%;
    }
    .upi-inner{
      margin-left: 20%;
    }
    .upi-inner-up h5{
      font-size: 13px;
    }
    .upi-logo-1{
      height: 30px;
      width: 30px;
      margin-left: -15%;
    }
    .upi-head{
      margin-top: 14%;
    }
    .upi-phonepe,.upi-id{
      font-size: 13px;
    }
    .form-phonepe,.form-id{
      width: 110%;
      height: 6.2vh;
    }
    .verify-p{
      margin-left: 2%;
      margin-top: 4%;
    }
    .or-p{
      margin-top: 5%;
    }
    .phonepe-div{
      margin-top: -5%;
      margin-left: -5%;
    }
    .upi-div{
      margin-top: -5%;
      margin-left: -5%;
    }
    .pay-now-2{
      width: 112%;
      margin-top: 10%;
    }
  }